
body{
    font-family: 'Baloo Bhai 2', cursive;
    color: white;
    margin: 0;
    padding: 0;
    
    background:  url('bg.jpg') no-repeat center center/cover;
    
    opacity: 5;
    background-repeat: no-repeat;
}


.left{
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    left: 34px;
    top: 20px; 


}
.left img{
    width: 70px;
    
}
.left div{
    line-height: 19px;
    font-size: 15px;
    text-align: center;
}

.middle{
    
    display: block;
    width: 55%;
    margin: 25px auto;
    
    
    /* border: 2px solid green; */
}

   .right{
    position: absolute;
    right: 34px;
    top: 43px;
    display: inline-block;
    /* border: 2px solid yellow; */
}

.navbar{
    display: inline-block;
    
    

}
h1{
    color:whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header,div{
    color: wheat;
}

.navbar li{
    display: inline-block;
    font-size: 23px;
    
    

}
.navbar li a{
    color: whitesmoke;
    text-decoration: none;
    padding: 34px 23px;
    

}
.navbar li a:hover, .navbar li a:active{
    text-decoration: underline;
    color: yellow;
}
.btn{
    margin: 0px 9px;
    background-color:yellowgreen;
    color: white;
    padding: 4px 14px;
    /* border: 2px green; */
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}
.btn:hover{
    background-color:red;
}

.container{
    /* border: 2px solid white; */
    margin:106px 80px ;
    padding:75px;
    width:36% ;
    border-radius: 28px;
}
.form-group input{
    /* text-align: center; */
    display: block;
    width: 400px;
    padding: 1px;
    border: 2px solid rgb(124, 92, 92);
    margin: 11px auto;
    font-size: 20px;
    border-radius: 5px;
}
.container h1{
    text-align: center;
}
.container button{
    display: block;
    width: 74%;
    margin:  20px auto;
}